<div class="Polaris-LegacyCard">
  <div class="Polaris-CalloutCard__Container">
    <div class="Polaris-LegacyCard__Section">
      <div class="Polaris-CalloutCard">
        <div class="Polaris-CalloutCard__Content">
          <div class="Polaris-CalloutCard__Title">
            <h2 class="Polaris-Text--root Polaris-Text--headingMd Polaris-Text--semibold">
<div id="<%= dom_id prospect %>">
  <p>
    <strong>Industry:</strong>
    <%= prospect.industry %>
  </p>

  <p>
    <strong>Jobrole:</strong>
    <%= prospect.jobrole %>
  </p>

  <p>
    <strong>Designer:</strong>
    <%= prospect.designer %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= prospect.location %>
  </p>

</div>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
